$background-color: #94a3b8;
$link-color: rgb(238, 114, 241);
$font-color: #060522;
$code-color: #AAA;

$background-color: $font-color;
$font-color: #F5F5F0;

.icon {
    width: 50px;
    height: 50px;
    fill: white;
    margin: auto;
}

.heading{
    flex-flow: row;
    justify-content: space-between;
}

pre {
    padding: 10px;
    border-color: $link-color;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}

.profile {
    max-width: 100px;
    width: 100px;
    margin: 15px;
    padding: 5px;
}


.prof-img {
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: $link-color;
}

.heading-one {
    font-family: 'Inconsolata', monospace;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    background-color: $font-color;
    color: $background-color;
    margin-top: 5px;
    margin-bottom: 20px;
}

.heading-two {
    font-family: 'Inconsolata', monospace;
    font-size: 30px !important;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 0px;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.articles{
    display: flex;
    flex-flow: column;
    .entry{
        margin-top: 2px;
    }
}


p {
    font-family: 'Menlo', monospace;
    
    code {
        color: $code-color;
    }
}

.img-caption{
    color: #AAA; 
    font-size: 12px;
    margin-top: 0px;
}

.img-wrapper {
    border: $link-color 1px solid;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;

    img{
        width: 100%;
    }
}

a{
    color:$link-color;
    padding-left: 2px;
    padding-right: 2px;
    &:hover {
        color: $font-color !important;
        background-color: $link-color !important;
    }
}

html{
    background-color: $background-color;
    color: $font-color; 
    font-family: 'Menlo', monospace;
    font-size: 20px;

}

.content-container{
    max-width: 675px;
    position: relative;
    margin: 0 auto;
}

.title{
    margin-bottom: 0px;
}
.subtitle{
    font-size: 16px;
}