$background-color: #F5F5F0;
$link-color: rgb(238, 114, 241);

.icon {
    width: 50px;
    height: 50px;
    fill: white;
    margin: auto;
}

.heading{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.profile {
    max-width: 100px;
    width: 100px;
    margin: 15px;
    padding: 5px;
}

.text {
    /* text-indent: 20px; */
    /* padding: 10  px; */
}

.prof-img {
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(238, 114, 241);
}

.heading-one {
    font-family: 'Roboto', monospace;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
    padding: 0px;
}

.heading-two {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.articles{
    display: flex;
    flex-flow: column;
    .entry{
        margin-top: 2px;
    }
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
    border-radius: 4px;
}

p {
    font-family: 'Inconsolata';
}

a{
    color:rgb(238, 114, 241);
    padding-left: 2px;
    padding-right: 2px;
    &:hover {
        color: $background-color !important;
        background-color: $link-color !important;
    }
}

html{
    background-color: $background-color;
    color: black; 
    font-family: 'Inconsolata';
    font-size: 20px;

}

.content-container{
    max-width: 675px;
    position: relative;
    margin: 0 auto;
}

.title{
    margin-bottom: 0px;
}
.subtitle{
    font-size: 16px;
}