.icon {
    width: 50px;
    height: 50px;
    fill: white;
    margin: auto;
}

a {
    color: white;
}

.heading{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.profile {
    max-width: 100px;
    margin: 15px;
    padding: 5px;
}

.text {
    /* text-indent: 20px; */
    /* padding: 10  px; */
}

.prof-img {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(238, 114, 241);
}

.heading-one {
    font-family: 'Roboto', monospace;
    font-weight: 900;
    padding: 0px;
}

.heading-two {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-family: 'Roboto', monospace;
}

a{
    color:rgb(238, 114, 241);
}

html{
    background-color: #222222;
    color: #fefefe; 
}

.content-container{
    max-width: 675px;
    position: relative;
    margin: 0 auto;
}