
<html>
    <head>
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai-sublime.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<!--        <script src="https://cdn.tailwindcss.com"></script>-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;800;900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        {% block head %} {% endblock %}
        {% block rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer data-domain="lyon.lol" src="https://plausible.io/js/script.js"></script>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>