{% extends "base.html" %}
{% block head %}
<meta property="og:title" content="{{ page.title }}" />
<title>{{ page.title }}</title>

{% endblock head %}

{% block content %}
<div class="flex row justify-center w-full">
  <div class="max-w-prose text-md">
    <h1>Joseph Lyon</h1>

    <a class="underline" href="/"><- Home</a>
    {% for asset in page.assets -%}
    <div class="img-wrapper">
      <img src="{{asset}}" />
    </div>
    <p class="img-caption">{{ page.extra.image_caption }}</p>
    {%- endfor %}
    <h2 class="text-xl font-bold">
      {{ page.title }}
    </h2>
    <p class="text-sm"><light>{{ page.date }}</light></p>
    {{ page.content | safe }}
  </div>
</div>


{% endblock content %}
