{% extends "base.html" %}
{% block head %}
<meta property="og:title" content="Joseph Lyon"/>
<title>Joseph Lyon</title>

{% endblock head %}

{% block content %}
<h2 class="text-xl font-bold my-2">About</h2>
<p class="my-2">I am an Engineering Manager based in Saratoga Springs. I have had the opportunity to work in
    a diverse range of industries, including finance, ad tech, and video games. I am passionate about developing and leading engineering
    teams to help the members of their reach their maximum potential and achieve their career goals. I'm currently building games over at <a class="underline" href="https://www.wolfjawstudios.com">Wolfjaw Studios</a> where I am Director of Engineering.</p>

<h2 class="text-xl font-bold my-2">Posts</h2>
<div class="articles">
    {% set blog_section = get_section(path="blog/_index.md") %}
    {% for year, posts in blog_section.pages | group_by(attribute="year") %}
    {% for post in posts %}
    <div class="entry"><a class="underline" href="{{ post.permalink }}">{{ post.title }}</a></div>
    {% endfor %}
    {% endfor %}
</div>

{% endblock content %}
